*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: url(../src/2.jpg);
    background-size: 500vw 500vh;
    background-repeat: no-repeat;
}

h1{
    color: rgb(22, 19, 19);
    text-align: center;
    font- width: 400;
    font-size: 50px;
    margin-left: 10px;
    padding: 40px;
}

h2{
    color: rgb(31, 16, 51);
    text-align: center;
    font- width: 400;
    font-size: 20px;
    margin-left: 10px;
    padding: 30px;
}

.Menu{
    list-style: none;
    padding: 0;
    background: url(../src/menu.jpg);
    width: 60%;
    max-width: 900px;
    margin: auto;
}

.Menu li a{
    text-decoration: none;
    color: rgb(228, 215, 215);
    padding: 10px;
    display: block;
}
.Menu li{
    display: inline-block;
    text-align: center;
}
.Menu li a:hover{
    background: #f8354f;

}

#img{
    width: 300px;
    height: 200px;
    padding: 10px;
}

#img:hover{
    border-radius: 40%;
    -webkit-transition: 1.5s;
    -webkit-transform: rotate(360deg);
}

#ac{
    width: 300px;
    height: 300px;
    padding: 10px;
}

#ac:hover{
    border-radius: 40%;
    -webkit-transition: 1.5s;
    -webkit-transform: rotate(360deg);
}

#AE{
    width: 300px;
    height: 300px;
    padding: 10px;
}

#AE:hover{
    border-radius: 40%;
    -webkit-transition: 1.5s;
    -webkit-transform: rotate(360deg);
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img{
    width: 50%;
    height: 50%;
}

@keyframes cambio{
   0%{margin-left: 0%;}
   20%{margin-left: 0%;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;}
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left:-300%;}
}

.slider2{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider2 ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite alternate;
}

.slider2 li {
    width: 100%;
    list-style: none;
}

.slider2 img{
    width: 50%;
    height: 50%;
}

@keyframes cambio2{
   0%{margin-left: 0%;}
   20%{margin-left: 0%;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;}
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left:-300%;}
}

.slider3{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider3 ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite alternate;
}

.slider3 li {
    width: 100%;
    list-style: none;
}

.slider3 img{
    width: 50%;
    height: 50%;
}

@keyframes cambio3{
   0%{margin-left: 0%;}
   20%{margin-left: 0%;}
   25%{margin-left: -100%;}
   45%{margin-left: -100%;}
   50%{margin-left: -200%;}
   70%{margin-left: -200%;}
   75%{margin-left: -300%;}
   100%{margin-left:-300%;}
}